$background-color: #060606;
$background-light: #222;
$color: #808080;
$color-title-link: #fefefe;
$color-summary: #ddd;
$color-light: #bbb;
$color-menu-background: #222;
$color-note-link: #666;
$og-background: #323232;