$background-color: #eee; 
$background-light: #ccc;
$color: #111;
$color-title-link: #333;
$color-light: #555;
$color-summary: #111;
$color-note-link: #333;
$color-menu-background: #ddd;
// $primary-color: #1d781d; 
