$font-stack: Helvetica, sans-serif;
$background: #002B36;  // solarized background color    
$light-background: #003d4d; //#e6e6e6;
// font-family: Inconsolata, monospace;
$text-color: #ccc;
$primary-color: #e14eea;
$secondary-color: #32cd32;

$form-background-color: #ccc;
$form-text-color: #222;
$muted-color: #586e75; // solarized comment text
// #93a1a1; solarized body text

// Load custom theme
// @import "vars.scss";


.light-background {
    background: $light-background;
}


body {
  font-family: $font-stack;
  font-size: 20px;
  line-height: 32px;
  background: $background;
  color: $text-color;
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
a {
  text-decoration: none;
}
.shared-header {
margin-left:60px;margin-top:30px;margin-bottom:-15px;
strong {
color: $primary-color;
}
}
.box {
    padding: 0 20px;
}

.codehilite {
    margin: 50px 0;
}

.activity-main {
  a {
    color: $text-color;
  }
}
.activity-wrap {
}
code, pre {
  color: $secondary-color; // #cb4b16; // #268bd2; // #2aa198;
  font-family: monospace;
}
.form {
    input, select, textarea {
        font-size: 20px;
        border: 0;
        padding: 5px;
        background: $form-background-color;
        color: $form-text-color;
        &:focus {
            outline: 1px solid $secondary-color;
        }
    }
    input[type=submit] {
        font-size: 20px;
        outline: none;
        background: $primary-color;
        color: $form-text-color;
        padding: 5px;
    }
}
header {
  padding: 0 20px;
  .title {
    font-size: 1.3em;
    text-decoration: none;
    .handle {
      font-size: 0.85em;
      color: $muted-color;
    }
  }
  .counter {
    color: $muted-color;
  }
}
a {
  color: $primary-color;
  &:hover {
    color: $secondary-color;
  }
}
#main {
    flex: 1; 
}
main {
    width: 100%;
    max-width: 1000px;
    margin: 30px auto;
}
footer {
    width: 100%;
    max-width: 960px;
    margin: 20px auto;
    color: $muted-color;
}
.actor-box {
  display: flex;
  column-gap: 20px;
  margin:10px 0;
  .icon-box {
    flex: 0 0 50px;
  }
  .actor-handle {
    font-size: 0.85em;
    line-height: 1em;
    color: $muted-color;
  }
  .actor-icon {
    max-width: 50px;
  }
}
#notifications, #followers, #following {
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    li {
        display: block;
    }
}

nav {
input[type=submit], button {
  font-size: 20px;
  line-height: 32px;
  font-family: "Inconsolata, monospace";
  background: none!important;
  border: none;
  padding: 0!important;
  cursor: pointer;
  color: $muted-color;
  &:hover {
    color: $secondary-color;
  }
}
}

nav.flexbox {
    ul {        
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        list-style-type: none;
        margin: 0;
        padding: 0;

    }

    ul li {
        margin-right: 20px;

        &:last-child {
            margin-right: 0px;
        }
    }
    a {
        text-decoration: none;
    }
    a.active {
        color: $secondary-color;
        font-weight: bold;
    }
}

.ap-object {
    margin: 15px 0;
    padding: 20px;
    .in-reply-to {
        color: $muted-color;
        &:hover {
            color: $secondary-color;
        }
    }
    nav {
        color: $muted-color;
    } 
    nav a {
        color: $muted-color;
        &:hover {
            color: $secondary-color;
        }
    }
    nav a.p {
        color: $text-color;
        &:hover {
            color: $secondary-color;
        }
    }
    .activity-attachment {
        img, audio, video {
            width: 100%;
            max-width: 740px;
            margin: 30px 0;
        }
    }
}
.ap-object-expanded {
    border: 2px dashed $secondary-color;
}

.activity-wrap {
  margin: 0 auto;
  padding: 30px 0;
  .actor-icon {
    width: 50px;
    margin-right: 15px;
    margin-top: 5px;
  }

  .activity-content {
    display: flex;
    align-items:flex-start;
    .activity-header {
      width: 100%;
      strong {
        font-weight:bold;
      }
      span {
        font-weight:normal;
        margin-left: 5px;
      }
      .actor-handle {
        color: $muted-color;
      }
      .activity-date {
        float:right;
        a {
          color: $muted-color;
          &:hover {
            color: $secondary-color;
          }
        }
      }
      .object-visibility { float:right;color: $muted-color;margin-right:10px; }
    }
  }
  .activity-attachment {
    padding-left: 60px;
    img, audio, video {
      width: 100%;
      max-width: 740px;
      margin: 30px 0;
    }
  }
  .activity-bar {
    margin-left: 60px;
    margin-top: 10px;
    color: $muted-color;
    a {
        color: $muted-color;
        &:hover {
            color: $secondary-color;
        }
    }
  }
}
.actor-action {
  margin-top:20px;
  margin-bottom:-20px;
  padding: 0 20px;
  span {
    color: $muted-color;
  }
}
.actor-metadata {
    color: $muted-color;
}
.emoji, .custom-emoji {
  max-width: 25px;
}
