{% extends "layout.html" %}
{% import 'utils.html' as utils %}
{% block title %}Admin - {{ config.NAME }}{% endblock %}
{% block content %}
<div id="container">
{% include "header.html" %}
<div id="admin">
<h3>Admin</h3>
<h4>Links</h4>
<ul>
    <li><a href="/admin/indieauth">IndieAuth logs</a></li>
    <li><a href="/admin/tasks">Poussetaches tasks</a></li>
</ul>
<h4>DB</h4>
<ul>
	<li>Inbox size: <strong>{{ inbox_size }}</strong></li>
	<li>Outbox size: <strong>{{ outbox_size }}</strong></li>
</ul>
<h4>Collections</h4>
<ul>
	<li>followers: <strong>{{ col_followers }}</strong></li>
	<li>following: <strong>{{ col_following }}</strong></li>
	<li>liked: <strong>{{col_liked }}</strong></li>
</ul>
</div>

</div>
{% endblock %}
