{% extends "layout.html" %}
{% import 'utils.html' as utils %}
{% block title %}Following - {{ config.NAME }}{% endblock %}
{% block header %}
{% endblock %}
{% block content %}
<div id="container">
{% include "header.html" %}

<div id="following">
	{% for followed in following_data %}
    <div style="height: 100px;">
	{{ utils.display_actor_inline(followed, size=80) }}
    </div>
	{% endfor %}
    {{ utils.display_pagination(older_than, newer_than) }}
</div>

</div>
{% endblock %}
{% block links %}{{ utils.display_pagination_links(older_than, newer_than) }}{% endblock %}
