{% extends "layout.html" %}
{% import 'utils.html' as utils %}
{% block title %}Followers - {{ config.NAME }}{% endblock %}
{% block header %}
{% endblock %}
{% block content %}
<div id="container">
{% include "header.html" %}

<main>
<div id="followers">
	{% for meta in followers_data %}
    {% set follower = meta.actor %}
    {% if session.logged_in %}
<div style="margin-left:90px;padding-bottom:5px;margin-bottom:15px;display:inline-block;">
<a class="bar-item" href="/admin/profile?actor_id={{follower.id}}">profile</a>

{% if meta.notification_follows_back %}
<span class="bar-item-no-hover">following</span>
{% endif %}

</div>
    {% endif %}
    <div style="height: 100px;">
	{{ utils.display_actor_inline(follower, size=80) }}
    </div>
	{% endfor %}
    {{ utils.display_pagination(older_than, newer_than) }}
</div>

</main>
</div>
{% endblock %}
{% block links %}
<link rel="alternate" href="{{ config.BASE_URL }}/followers" type="application/activity+json">
{{ utils.display_pagination_links(older_than, newer_than) }}{% endblock %}
