<header id="header">

<div class="h-card p-author">
<data class="u-photo" value="{{ config.ME.icon.url }}"></data>
<a href="{{ config.ID }}" class="u-url u-uid no-hover title">
	<span style="font-size:1.1em;">{{ config.NAME }}</span>
	<span  style="font-size:0.85em;" class="subtitle-username">@<span class="gold p-name">{{ config.USERNAME }}</span>@<span class="gold">{{ config.DOMAIN }}</span>
        {% if not session.logged_in %}<small><a class="remote-follow-button" href="/remote_follow">Remote follow</a></small>{% endif %}
</a>

<div class="p-note summary">
{{ config.SUMMARY | safe }}

{% if config.PROFILE_METADATA %}
<dl>
{% for item in config.ME.attachment %}
{% if item.type == "PropertyValue" %}
<dt>{{item.name | safe }}</dt><dd>{{ item.value | safe }}</dd>
{% endif %}
{% endfor %}
</dl>
{% endif %}
</div>

</div>

<div class="menu">
<ul>
<li><a href="/" {% if request.path == "/" %}class="selected"{% endif %}>Notes <small class="badge">{{ notes_count }}</small></a></li>
{% if session.logged_in %}<li><a href="/all" {% if request.path == url_for("all") %}class="selected"{% endif %}>All <small class="badge">{{ with_replies_count }}</small></a></li>
<li><a href="/liked" {% if request.path == "/liked" %}class="selected"{% endif %}>Liked <small class="badge">{{ liked_count }}</small></a></li>
{% endif %}
<li><a href="/followers"{% if request.path == "/followers" %} class="selected" {% endif %}>Followers <small class="badge">{{ followers_count }}</small></a></li>
{% if not config.HIDE_FOLLOWING or session.logged_in %}<li id="menu-item-following"><a href="/following"{% if request.path == "/following" %} class="selected" {% endif %}>Following <small class="badge">{{ following_count }}</small></a></li>{% endif %}
<!-- <li><a href="/about"{% if request.path == "/about" %} class="selected" {% endif %}>/about</a></li>
-->
</ul>
</div>

</header>
