<div id="header">
<div class="h-card p-author">
<data class="u-photo" value="{{ config.ME.icon.url }}"></data>
<a href="{{ config.ID }}" class="u-url u-uid no-hover title">
	<span style="font-size:1.1em;">{{ config.NAME }}</span>
	<span  style="font-size:0.85em;" class="subtitle-username">@<span class="gold p-name">{{ config.USERNAME }}</span>@<span class="gold">{{ config.DOMAIN }}</span>
    <small><a style="background:#ddd;padding:5px 8px;margin-top:5px;border-radius:2px;text-decoration:none;" href="/remote_follow">remote follow</a></small>
	</span>
</a>
<div class="p-note summary">
{{ config.SUMMARY | safe }}
</div>
</div>
<div class="menu">
<ul>
<li><a href="/" {% if request.path == "/" %}class="selected"{% endif %}>notes <small class="badge">{{ notes_count }}</small></a></li>
<li><a href="/with_replies" {% if request.path == "/with_replies" %}class="selected"{% endif %}>with replies <small class="badge">{{ with_replies_count }}</small></a></li>
<li><a href="/liked" {% if request.path == "/liked" %}class="selected"{% endif %}>liked <small class="badge">{{ liked_count }}</small></a></li>
<li><a href="/followers"{% if request.path == "/followers" %} class="selected" {% endif %}>followers <small class="badge">{{ followers_count }}</small></a></li>
<li><a href="/following"{% if request.path == "/following" %} class="selected" {% endif %}>following <small class="badge">{{ following_count }}</small></a></li>
<!-- <li><a href="/about"{% if request.path == "/about" %} class="selected" {% endif %}>/about</a></li>
-->
{% if logged_in %}
<li><a href="/stream"{% if request.path == "/stream" %} class="selected" {% endif %}>/stream</a></li>
<li><a href="/notifications"{% if request.path == "/notifications" %} class="selected" {% endif %}>/notifs</a></li>
<li><a href="/new"{% if request.path == "/new" %} class="selected" {% endif %}>/new</a></li>
<li><a href="/admin"{% if request.path == "/admin" %} class="selected" {% endif %}>/admin</a></li>
<li><a href="/logout">/logout</a></li>
{% endif %}
</ul>
</div>
</div>
