<header id="header">

<div class="h-card p-author">
<data class="u-photo" value="{{ config.ME.icon.url }}"></data>
<a href="{{ config.ID }}" class="u-url u-uid no-hover title">
	<span style="font-size:1.1em;">{{ config.NAME }}</span>
	<span  style="font-size:0.85em;" class="subtitle-username">@<span class="gold p-name">{{ config.USERNAME }}</span>@<span class="gold">{{ config.DOMAIN }}</span>
        {% if not session.logged_in %}<small><a class="remote-follow-button" href="/remote_follow">Remote follow</a></small>{% endif %}
</a>

<div class="p-note summary">
{{ config.SUMMARY | safe }}

{% if config.PROFILE_METADATA %}
<dl>
{% for item in config.ME.attachment %}
{% if item.type == "PropertyValue" %}
<dt>{{item.name | safe }}</dt><dd>{{ item.value | safe }}</dd>
{% endif %}
{% endfor %}
</dl>
{% endif %}
</div>

</div>

<div class="tabs">
	<ul>
		<li {% if request.path == "/" %}class="is-active"{% endif %}><a href="/">Notes <span class="badge">{{ notes_count }}</span></a></li>
		<li {% if request.path == url_for("all") %}class="is-active"{% endif %}><a href="/all">All <span class="badge">{{ with_replies_count }}</span></a></li>
		<li {% if request.path == "/liked" %}class="is-active"{% endif %}><a href="/liked">Liked <span class="badge">{{ liked_count }}</span></a></li>
		<li {% if request.path == "/followers" %} class="is-active" {% endif %}><a href="/followers">Followers <span class="badge">{{ followers_count }}</span></a></li>
		<li {% if request.path == "/following" %} class="is-active" {% endif %}><a href="/following">Following <span class="badge">{{ following_count }}</span></a></li>
	</ul>
</div>

</div>

</header>
