{% extends "layout.html" %}
{% import 'utils.html' as utils %}
{% block header %}
<link rel="self" href="{{ config.ID }}/">
<link rel="hub" href="https://pubsubhubbub.superfeedr.com/">
<meta content="profile" property="og:type" />       
<meta content="{{ config.ID }}" property="og:url" />
<meta content="{{ config.USERNAME }}" property="og:site_name" />                                         
<meta content="{{ config.USERNAME }}" property="og:title" />                                             
<meta content="{{ me.summary | html2plaintext }}" property="og:description" />                                            
<meta content="{{ me.icon.url }}" property="og:image" />                                                 
<meta content="200" property="og:image:width" />    
<meta content="200" property="og:image:height" />   
<meta content="summary" property="twitter:card" />  
<meta content="{{config.USERNAME}}@{{ config.DOMAIN}}" property="profile:username" />
{% endblock %}
{% block content %}
<div class="h-feed" id="container">
<data class="p-name" value="{{config.USERNAME}} notes"></data>

{% include "header.html" %}

<div id="notes">
	{% for item in outbox_data %}

	{% if item | has_type('Announce') %}
        {% set boost_actor = item.activity.actor | get_actor %}
        <p style="margin-left:65px;padding-bottom:5px;"><span class="bar-item-no-hover"><a style="color:#808080;" href="{{ boost_actor.url }}">{{ boost_actor.name }}</a> boosted</span></p>
        {% if item.meta.object %}
            {{ utils.display_note(item.meta.object, ui=False) }}
        {% endif %}
	{% elif item | has_type('Create') %}
        {{ utils.display_note(item.activity.object, meta=item.meta, no_color=True) }}
    {% endif %}

	{% endfor %}
    <div class="clear">
        {% if older_than %}
        <a href="{{ config.BASE_URL }}{{ request.path }}?older_than={{older_than}}" rel="next" class="older-link lcolor"><span class="pcolor">🡨</span> Older</a>
        {% endif %}
        {% if newer_than %}
        <a href="{{ config.BASE_URL }}{{ request.path }}?newer_than={{newer_than}}" rel="prev" class="newer-link lcolor">Newer <span class="pcolor">🡪</span></a>
        {% endif %}
    </div>
</div>

</div>
{% endblock %}
{% block links %}
{% if older_than %}<link rel="next" href="{{ config.BASE_URL }}{{ request.path }}?older_than={{older_than}}">{% endif %}
{% if newer_than %}<link rel="prev" href="{{ config.BASE_URL }}{{ request.path }}?newer_than={{newer_than}}">{% endif %}
{% endblock %}

