{% extends "layout.html" %}
{% import 'utils.html' as utils %}
{% block content %}
<div class="h-feed" id="container">
<data class="p-name" value="{{config.USERNAME}} liked"></data>

{% include "header.html" %}

<div id="notes">
	{% for item in liked %}
    {% if item.meta.object %}
	{{ utils.display_note(item.meta.object) }}
    {% endif %}
	{% endfor %}

    {{ utils.display_pagination(older_than, newer_than) }}
</div>

</div>
{% endblock %}
{% block links %}{{ utils.display_pagination_links(older_than, newer_than) }}{% endblock %}
