{% extends "layout.html" %}
{% import 'utils.html' as utils %}
{% block title %}New - {{ config.NAME }}{% endblock %}
{% block header %}

{% endblock %}
{% block content %}
<div id="container">
<div id="new">
{% if thread %}
<h3 style="padding-bottom: 30px">Replying to {{ content }}</h3>
{{ utils.display_thread(thread) }}
{% else %}

<div class="tabs is-toggle is-rounded">
{% if request.args.get("question") == "1" %}
  <ul>
    <li><a href="{{ url_for('admin.admin_new') }}">Note</a></li>
    <li class="is-active"><a href="{{ url_for('admin.admin_new') }}?question=1">Question</a></li>
  </ul>
{% else %}
<ul>
  <li class="is-active"><a href="{{ url_for('admin.admin_new') }}">Note</a></li>
  <li><a href="{{ url_for('admin.admin_new') }}?question=1">Question</a></li>
</ul>
{% endif %}
</div>

{% endif %}
<form id="new-activity" action="/api/new_{% if request.args.get("question") == "1" %}question{%else%}note{%endif%}" method="POST" enctype="multipart/form-data">
    <input type="hidden" name="redirect" value="/">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">


    <div class="field is-horizontal">
      <div class="field-body">
        <!-- Visibility -->
        <div class="field">
            <label for="visibility" class="label">Visibility</label>
            <div class="control">
                <div class="select">
                    <select name="visibility" style="padding:8px 10px;">
                    {% for v in visibility %}
                        <option value="{{v.name}}" {% if v == default_visibility %}selected="selected"{% endif %}>{{ v.value }}</option>
                    {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <!-- Content Warning -->
        <div class="field">
            <label for="summary" class="label">Summary</label>
            <p class="control">
                <input class="input" name="summary" type="summary" placeholder="summary/CW (optional)">
            </p>
        </div>
      </div>
    </div>

    {% if reply %}<input type="hidden" name="reply" value="{{reply}}">{% endif %}

    <div class="field">
        <div class="control">
            <div class="buttons">
                {% for emoji in emojis %}
                <span class="button is-dark ji">{{ emoji | emojify | safe }}</span>
                {% endfor %}
            </div>

            <div class="buttons">
                {% for emoji in custom_emojis %}
                <span class="button is-dark ji"><img src="{{emoji.get_icon_url()}}" alt="{{emoji.name}}" title="{{emoji.name}}" class="custom-emoji"></span>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="field">
        <div class="control">
            <textarea class="textarea" name="content" rows="10" cols="50" autofocus="autofocus" designMode="on" style="font-size:1.2em;width:95%;">{{ content }}</textarea>
        </div>
    </div>

    <div class="field is-horizontal">
        <div class="field-body">
            <div class="field">
                <div class="file">
                  <label class="file-label">
                    <input class="file-input" type="file" name="name">
                    <span class="file-cta">
                      <span class="file-label">
                        Choose a file…
                      </span>
                    </span>
                  </label>
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input type="text" class="input" name="file_description" placeholder="attachment description (optional)">
                </div>
            </div>
        </div>
    </div>

    <div class="field is-horizontal">
        <div class="field-body">
            <div class="field">
                <div class="control">
                    <input type="text" class="input" name="location_lat" id="location_lat" placeholder="latitude (optional)">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input type="text" class="input" name="location_lng" id="location_lng" placeholder="longitude (optional)">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input type="text" class="input" name="location_name" placeholder="location name (optional)">
                </div>
            </div>
        </div>
    </div>

    <div class="field">
        <div class="control">
            <a href="#" class="location_autofill button is-info">ask browser for location</a>
        </div>
    </div>


    {% if request.args.get("question") == "1" %}
    <div class="field is-horizontal">
        <div class="field-body">
            <div class="field">
                <label for="open_for" class="label">Open for</label>
                <div class="control">
                    <div class="select">
                        <select name="open_for">
                            <option value="5">5 minutes</option>
                            <option value="10">10 minutes</option>
                            <option value="15">15 minutes</option>
                            <option value="30">30 minutes</option>
                            <option value="60">1 hour</option>
                            <option value="360">6 hour</option>
                            <option value="1440" selected>1 day</option>
                            <option value="4320">3 days</option>
                            <option value="10080">7 days</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="field">
                <label for="of" class="label">Choices</label>
                <div class="control">
                    <div class="select">
                        <select name="of">
                            <option value="oneOf">Single choice</option>
                            <option value="anyOf">Multiple choices</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% for i in range(4) %}
    <div class="field">
        <div class="control">
            <input type="text" class="input" name="answer{{i}}" placeholder="Answer #{{i+1}}">
        </div>
    </div>
    {% endfor %}

    {% endif %}

    <div class="field">
        <div class="control">
            <input type="submit" value="post" class="button is-primary">
        </div>
    </div>
</form>

</div>
</div>
<script>
// The new post textarea
var ta = document.getElementsByTagName("textarea")[0];
// Helper for inserting text (emojis) in the textarea
function insertAtCursor (textToInsert) {
    ta.focus();
    const isSuccess = document.execCommand("insertText", false, textToInsert);

    // Firefox (non-standard method)
    if (!isSuccess) {
        // Credits to https://www.everythingfrontend.com/posts/insert-text-into-textarea-at-cursor-position.html
        // get current text of the input
        const value = ta.value;
        // save selection start and end position
        const start = ta.selectionStart;
        const end = ta.selectionEnd;
        // update the value with our text inserted
        ta.value = value.slice(0, start) + textToInsert + value.slice(end);
        // update cursor to be at the end of insertion
        ta.selectionStart = ta.selectionEnd = start + textToInsert.length;
    }
}
// Emoji click callback func
var ji = function (ev) {
    insertAtCursor(ev.target.attributes.alt.value + " ");
    ta.focus()
    //console.log(document.execCommand('insertText', false /*no UI*/, ev.target.attributes.alt.value));
}
// Enable the click for each emojis
var items = document.getElementsByClassName("ji")
for (var i = 0; i < items.length; i++) {
    items[i].addEventListener('click', ji);
}
var askForLocation = function(ev) {
    ev.preventDefault();
    navigator.geolocation.getCurrentPosition(function(position) {
        document.getElementById("location_lat").value = position.coords.latitude;
        document.getElementById("location_lng").value = position.coords.longitude;
    });
}
var items = document.getElementsByClassName("location_autofill")
for (var i = 0; i < items.length; i++) {
    items[i].addEventListener('click', askForLocation);
}

</script>{% endblock %}
