{% extends "layout.html" %}
{% import 'utils.html' as utils %}
{% block header %}
{% endblock %}
{% block content %}
<div id="container">
{% include "header.html" %}
<main>
<h2 style="font-weight:normal">Remote follow @<span class="gold">{{ config.USERNAME }}</span>@<span class="gold">{{ config.DOMAIN }}</span></h2>

<form method="POST" action="">
	<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
	<input type="text" name="profile" placeholder="you@your-instance">
	<input type="submit" value="Follow">
</form>
</main>
</div>
{% endblock %}
