{% extends "layout.html" %}
{% import 'utils.html' as utils %}
{% block title %}{% if request.path == url_for('admin.admin_stream') %}Stream{% elif actor_id %}Profile {{ actor.name }}{% else %}Notifications{% endif %} - {{ config.NAME }}{% endblock %}
{% block content %}
<div class="h-feed" id="container">
<div id="admin">

{% if request.path == url_for('admin.admin_notifications') and unread_notifications_count %}
<div style="clear:both;padding-bottom:60px;">
<form action="/api/mark_notifications_as_read" method="POST">
<input type="hidden" name="redirect" value="{{ request.path }}"/>
<input type="hidden" name="nid" value="{{ nid }}"/>
<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
<button type="submit" class="bar-item" style="text-transform:uppercase">Mark as read</button>
</form>
</div>
{% endif %}

{% if actor %}
{% set actor_redir = request.path + "?actor_id=" + request.args.get('actor_id') %}

<div id="profile" style="margin-bottom:80px;">
<div style="clear:both;margin-left:100px;padding-bottom:5px;margin-bottom:15px;display:inline-block;">
    {% if follower %}<span class="bar-item-no-hover">follows you!</span>{% endif %}

{% if following %}
<form action="/api/undo" class="action-form"  method="post">
<input type="hidden" name="redirect" value="{{ actor_redir }}"/>
<input type="hidden" name="id" value="{{ following.remote_id }}"/>
<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
<button type="submit" class="bar-item">unfollow</button>
</form>
<form action="/api/block" class="action-form"  method="POST">
<input type="hidden" name="redirect" value="{{ actor_redir }}">
<input type="hidden" name="actor" value="{{ actor.id }}">
<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
<button type="submit" class="bar-item" onclick="return confirm('Confirm the block action?');">block</button>
</form>


{% if lists %}
<form action="/api/add_to_list" class="action-form"  method="post">
<input type="hidden" name="redirect" value="{{ actor_redir }}"/>
<input type="hidden" name="actor_id" value="{{ actor.id }}"/>
<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
<select name="list_name" style="float:left;">
<option></option>
{% for l in lists %}
{% if actor.id not in l.members %}
<option value="{{l.name}}">{{l.name}}</option>
{% endif %}
{% endfor %}
</select>
<button type="submit" class="bar-item">add to list</button>
</form>
{% endif %}

{% for l in lists %}
{% if actor.id in l.members %}
<form action="/api/remove_from_list" class="action-form"  method="post">
<input type="hidden" name="redirect" value="{{ actor_redir }}"/>
<input type="hidden" name="actor_id" value="{{ actor.id }}"/>
<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
<button type="submit" class="bar-item">remove from {{ l.name }}</button>
</form>


{% endif %}
{% endfor %}
 



{% else %}
<form action="/api/follow" class="action-form"  method="POST">
<input type="hidden" name="redirect" value="{{ actor_redir }}"/>
<input type="hidden" name="actor" value="{{ actor.id }}"/>
<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
<button type="submit" class="bar-item">follow</button>
</form>
<form action="/api/block" class="action-form"  method="POST">
<input type="hidden" name="redirect" value="{{ actor_redir }}">
<input type="hidden" name="actor" value="{{ actor.id }}">
<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
<button type="submit" class="bar-item" onclick="return confirm('Confirm the block action?');">block</button>
</form>


{% endif %}
</div>

<a class="actor-box" href="{{actor | url_or_id | get_url }}" style="clear:both;">
<span style="float:left;padding-right:15px;">
{% if not actor.icon %}
<img class="actor-icon" src="/static/nopic.png" style="width:80px">
{% else %}
<img class="actor-icon" src="{{ actor.icon.url | get_actor_icon_url(80) }}" style="width:80px;">{% endif %}
</span>
<div class="actor-inline">
<div style="font-weight:bold">{{ (actor.name or actor.preferredUsername) | clean | replace_custom_emojis(actor) | safe }}</div>
<small class="lcolor">@{{ actor.preferredUsername }}@{{ actor | url_or_id | get_url | domain }}</small>
{% if actor.manuallyApprovesFollowers %}<p><small>Manually approves followers</small></p>{% endif %}
</div>
</a>

{% if actor.summary %}
<div style="margin-top:70px;margin-bottom:20px;">
    {{ actor.summary | clean | replace_custom_emojis(actor) | safe }}
</div>
{% endif %}

{% if actor.attachment %}
<ul>
    {% for item in actor.attachment %}
    {% if item.type == "PropertyValue" %}
    <li>{{ item.name }}: {{ item.value | clean | replace_custom_emojis(actor) | safe }}</li>
    {% endif %}
    {% endfor %}
</ul>
{% endif %}
</div>

{% endif %}

<div id="notes" style="clear:both;">
	{% for item in inbox_data %}
	{% if 'actor' in item.meta %}
	{% if item | has_type('Create') %}
    <div style="margin-left:70px;padding-bottom:5px;margin-bottom:15px;display:inline-block;">
    {% if request.path.startswith("/admin/notifications") and not item.meta.reply_acked and item.meta.object_visibility | visibility_is_public %}
    <form action="/api/ack_reply" class="action-form"  method="POST">
    <input type="hidden" name="redirect" value="{{ request.path }}"/>
    <input type="hidden" name="reply_iri" value="{{ item.meta.object_id }}"/>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <button type="submit" class="bar-item">ack reply</button>
    </form>
	
    {% endif %}
    {{ utils.display_in_reply_to(item.meta, item.activity.object) }}
    </div>
	{{ utils.display_note(item.activity.object, meta=item.meta) }}
	{% else %}
	{% if item | has_type('Announce') %}
	{% set boost_actor = item.meta.actor %}
    {% if boost_actor %}
    <div style="margin-left:70px;padding-bottom:5px;margin-bottom:15px;display:inline-block;">
    {{ utils.display_actor_box(boost_actor, after="boosted") }} 
    {{ utils.display_in_reply_to(item.meta, item.activity.object) }}

    {% if request.path == url_for('admin.admin_notifications') %}
    {% if item.meta.notification_unread %}<span class="bar-item-no-bg"><span class="pcolor">new</span></span>{% endif %}
    <span class="bar-item-no-bg">{{ (item.activity.published or item.meta.published) | format_timeago }}</span>
    {% endif %}

    </div>
    {% endif %}
	{% if item.meta.object %}

	{{ utils.display_note(item.meta.object, meta=item.meta) }}
	{% endif %}
	{% endif %}

    {% if item | has_type('Like') %}
    {% set boost_actor = item.meta.actor %}
    <div style="margin-left:70px;padding-bottom:5px;margin-bottom:15px;display:inline-block;">
    {{ utils.display_actor_box(boost_actor, after="liked") }} 
    {{ utils.display_in_reply_to(item.meta, item.activity.object) }}
    {% if item.meta.notification_unread %}<span class="bar-item-no-bg"><span class="pcolor">new</span></span>{% endif %}
    <span class="bar-item-no-bg">{{ (item.activity.published or item.meta.published) | format_timeago }}</span>
    </div>
	{% if item.meta.object %}
    {{ utils.display_note(item.meta.object, meta=item.meta) }}
	{% endif %}
    {% endif %}
	
	{% if item | has_type('Follow') %}
    <div style="margin-left:70px;padding-bottom:5px;margin-bottom:15px;display:inline-block;">
    <span class="bar-item-no-hover">new follower</span>
    <span class="bar-item-no-hover">{{ item.meta.follow_status }}</span>
    {% if config.MANUALLY_APPROVES_FOLLOWERS and item.meta.follow_status != "accepted"  %}
    <form action="/api/accept_follow" class="action-form"  method="POST">
    <input type="hidden" name="redirect" value="{{ request.path }}"/>
    <input type="hidden" name="id" value="{{ item.remote_id }}"/>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <button type="submit" class="bar-item">approve follow request</button>
    </form>
    {% endif %}
    {% if item.meta.notification_unread %}<span class="bar-item-no-bg"><span class="pcolor">new</span></span>{% endif %}
    <span class="bar-item-no-bg">{{ (item.activity.published or item.meta.published) | format_timeago }}</span>
    <a class="bar-item" href="/admin/profile?actor_id={{item.meta.actor_id}}">profile</a>
    {% if item.meta.notification_follows_back %}<span class="bar-item-no-hover">already following</span>
    {% else %}
    <form action="/api/follow" class="action-form"  method="POST">
    <input type="hidden" name="redirect" value="{{ request.path }}"/>
    <input type="hidden" name="actor" value="{{ item.meta.actor_id }}"/>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <button type="submit" class="bar-item">follow back</button>
    </form>
    {% endif %}
    </div>
    <div style="height: 100px;">
	{{ utils.display_actor_inline(item.meta.actor, size=50) }}
    </div>

	{% elif item | has_type('Accept') %}
    <div style="margin-left:70px;padding-bottom:5px;margin-bottom:15px;display:inline-block;">
    <span class="bar-item-no-hover">you started following</span>
    {% if item.meta.notification_unread %}<span class="bar-item-no-bg"><span class="pcolor">new</span></span>{% endif %}
    <span class="bar-item-no-bg">{{ (item.activity.published or item.meta.published) | format_timeago }}</span>
    <a class="bar-item" href="/admin/profile?actor_id={{item.meta.actor_id}}">profile</a>
    {% if item.meta.notification_follows_back %}<span class="bar-item-no-hover">follows you back</span>{% endif %}
    </div>
    
    <div style="height: 100px;">
	{{ utils.display_actor_inline(item.meta.actor, size=50) }}
    </div>

	{% elif item | has_type('Reject') %}
    <div style="margin-left:70px;padding-bottom:5px;margin-bottom:15px;display:inline-block;">
    <span class="bar-item-no-hover">rejected your follow request</span>
    {% if item.meta.notification_unread %}<span class="bar-item-no-bg"><span class="pcolor">new</span></span>{% endif %}
    <span class="bar-item-no-bg">{{ (item.activity.published or item.meta.published) | format_timeago }}</span>
    <a class="bar-item" href="/admin/profile?actor_id={{item.meta.actor_id}}">profile</a>
    {% if item.meta.notification_follows_back %}<span class="bar-item-no-hover">follows you</span>{% endif %}
    </div>
    
    <div style="height: 100px;">
	{{ utils.display_actor_inline(item.meta.actor, size=50) }}
    </div>

	{% elif item | has_type('Undo') %}
    <div style="margin-left:70px;padding-bottom:5px;margin-bottom:15px;display:inline-block;">
    <span class="bar-item-no-hover">unfollowed you</span>
    {% if item.meta.notification_unread %}<span class="bar-item-no-bg"><span class="pcolor">new</span></span>{% endif %}
    <span class="bar-item-no-bg">{{ (item.activity.published or item.meta.published) | format_timeago }}</span>
    </div>
    <div style="height: 100px;">
	{{ utils.display_actor_inline(item.meta.actor, size=50) }}
    </div>

	{% else %}

	{% endif %}
	
	
	{% endif %}
    {% else %}

    {% if item | has_type('question_ended') %}
    <p style="margin-left:70px;padding-bottom:5px;display:inline-block;"><span class="bar-item-no-hover">poll ended</span></p>
    {{ utils.display_note(item.activity, meta={"object_visibility": "PUBLIC"}) }}
    {% endif %}

	{% endif %}
	{% endfor %}

    {{ utils.display_pagination(older_than, newer_than) }}
</div>
</div>

</div>
{% endblock %}
