{%- import "utils.html" as utils with context -%}
{% extends "layout.html" %}
{% block content %}

{% for outbox_object in outbox %}

    {% if outbox_object.ap_type == "Announce" %}
        {{ utils.display_object(outbox_object.relates_to_anybox_object) }}
    {% elif outbox_object.ap_type in ["Article", "Note", "Video"] %}
        {{ utils.display_object(outbox_object) }}
    {% if outbox_object.liked_via_outbox_object_ap_id %}
    {{ utils.admin_undo_button(outbox_object.liked_via_outbox_object_ap_id, "Unlike") }}
    {% else %}
    {{ utils.admin_like_button(outbox_object.ap_id) }}
    {% endif %}
    {{ utils.admin_announce_button(outbox_object.ap_id) }}
    {{ utils.admin_reply_button(outbox_object.ap_id) }}
{% else %}
    Implement {{ outbox_object.ap_type }}
{% endif %}

{% endfor %}

{% endblock %}
