{%- import "utils.html" as utils with context -%}
{% extends "layout.html" %}
{% block content %}

{% if in_reply_to_object %}
<p>In reply to:</p>
{{ utils.display_object(in_reply_to_object) }}
{% endif %}

<form action="{{ request.url_for("admin_actions_new") }}" enctype="multipart/form-data" method="POST">
    {{ utils.embed_csrf_token() }}
    {{ utils.embed_redirect_url() }}
    <p>
    <select name="visibility">
        {% for (k, v) in visibility_enum %}
        <option value="{{ k }}">{{ v }}</option>
        {% endfor %}
    </select>
    </p>
    <textarea name="content" rows="10" cols="50" autofocus="autofocus" designMode="on" style="font-size:1.2em;width:95%;">{{ content }}</textarea>
    <input type="hidden" name="in_reply_to" value="{{ request.query_params.in_reply_to }}">
    <p>
        <input name="files" type="file" multiple>
    </p>
    <p>
        <input type="submit" value="Publish">
    </p>
</form>

{% endblock %}
