{%- import "utils.html" as utils with context -%}
{% extends "layout.html" %}
{% block content %}

<p>Filter by
{% for ap_type in ["Note", "Like", "Announce", "Follow"] %}
<a style="margin-right:12px;" href="{{ url_for("admin_outbox") }}?filter_by={{ ap_type }}">
    {% if request.query_params.filter_by == ap_type %}
    <strong>{{ ap_type }}</strong>
    {% else %}
    {{ ap_type }}
    {% endif %}</a>
{% endfor %}.
{% if request.query_params.filter_by %}<a href="{{ url_for("admin_outbox") }}">Reset filter</a>{% endif %}</p>
</p>

{% for outbox_object in outbox %}

    {% if outbox_object.ap_type == "Announce" %}
        <div class="actor-action">You shared</div>
        {{ utils.display_object(outbox_object.relates_to_anybox_object) }}
    {% elif outbox_object.ap_type == "Like" %}
        <div class="actor-action">You liked</div>
        {{ utils.display_object(outbox_object.relates_to_anybox_object) }}
    {% elif outbox_object.ap_type == "Follow" %}
        <div class="actor-action">You followed</div>
        {{ utils.display_actor(outbox_object.relates_to_actor, actors_metadata) }}
    {% elif outbox_object.ap_type in ["Article", "Note", "Video"] %}
        {{ utils.display_object(outbox_object) }}
    {% else %}
        Implement {{ outbox_object.ap_type }}
    {% endif %}

{% endfor %}

{% endblock %}
