{%- import "utils.html" as utils with context -%}
{% extends "layout.html" %}
{% block content %}

{{ utils.display_box_filters("admin_inbox") }}

{% for inbox_object in inbox %}
{% if inbox_object.ap_type == "Announce" %}
    {{ utils.display_object(inbox_object.relates_to_anybox_object) }}
{% elif inbox_object.ap_type in ["Article", "Note", "Video"] %}
{{ utils.display_object(inbox_object) }}
{% elif inbox_object.ap_type == "Follow" %}
    <div class="actor-action">
        {{ inbox_object.actor.display_name }} followed you
        <span>{{ inbox_object.ap_published_at | timeago }}</span>
    </div>
    {{ utils.display_actor(inbox_object.actor, actors_metadata) }}
{% else %}
    Implement {{ inbox_object.ap_type }}
{% endif %}
{% endfor %}

{% if next_cursor %}
<p><a href="{{ url_for("admin_inbox") }}?cursor={{ next_cursor }}{% if request.query_params.filter_by %}&filter_by={{ request.query_params.filter_by }}{% endif %}">See more</a></p>
{% endif %}

{% endblock %}
