{%- import "utils.html" as utils with context -%}
{% extends "layout.html" %}
{% block content %}

{% for inbox_object in inbox %}
{% if inbox_object.ap_type == "Announce" %}
    {{ utils.display_object(inbox_object.relates_to_anybox_object) }}
{% elif inbox_object.ap_type in ["Article", "Note", "Video"] %}
{{ utils.display_object(inbox_object) }}
    {% if inbox_object.liked_via_outbox_object_ap_id %}
    {{ utils.admin_undo_button(inbox_object.liked_via_outbox_object_ap_id, "Unlike") }}
    {% else %}
    {{ utils.admin_like_button(inbox_object.ap_id) }}
    {% endif %}
    {{ utils.admin_announce_button(inbox_object.ap_id) }}
    {{ utils.admin_reply_button(inbox_object.ap_id) }}
{% else %}
    Implement {{ inbox_object.ap_type }}
{% endif %}
{% endfor %}

{% endblock %}
