{%- import "utils.html" as utils with context -%}
{% extends "layout.html" %}
{% block content %}

{% for inbox_object in inbox %}
{% if inbox_object.ap_type == "Announce" %}
    {{ utils.display_object(inbox_object.relates_to_anybox_object) }}
{% elif inbox_object.ap_type in ["Article", "Note", "Video"] %}
{{ utils.display_object(inbox_object) }}
{% elif inbox_object.ap_type == "Follow" %}
    {{ utils.display_object(inbox_object) }}
{% else %}
    Implement {{ inbox_object.ap_type }}
{% endif %}
{% endfor %}

{% endblock %}
