<header id="header">

<div class="h-card p-author">
<data class="u-photo" value="{{ local_actor.icon_url }}"></data>
<a href="{{ local_actor.url }}" class="u-url u-uid no-hover title">
	<span class="name">{{ local_actor.name }}</span>
	<span class="p-name handle">{{ local_actor.handle }}</span>
</a>

<div class="p-note summary">
{{ local_actor.summary | safe }}
</div>

<div id="profile-props">
    {% for prop in local_actor.attachments %}
        <dl>
            {% if prop.type == "PropertyValue" %}
            <dt class="muted" title="{{ prop.name }}">{{ prop.name }}</dt>
            <dd>{{ prop.value | clean_html(local_actor) | safe }}</dd>
            {% endif %}
        </dl>
    {% endfor %}
</div>

</div>

{%- macro header_link(url, text) -%}
{% set url_for = BASE_URL + request.app.router.url_path_for(url) %}
<a href="{{ url_for }}" {% if request.url.path == url_for %}class="active"{% endif %}>{{ text }}</a>
{% endmacro %}

{%- macro navbar_item_link(navbar_item) -%}
<a href="{{ navbar_item[0] }}" {% if request.url.path == navbar_item[0] %}class="active"{% endif %}>{{ navbar_item[1] }}</a>
{% endmacro %}

<div class="public-top-menu">
<nav class="flexbox">
    <ul>
        {% if NAVBAR_ITEMS.INDEX_NAVBAR_ITEM %}
        <li>{{ navbar_item_link(NAVBAR_ITEMS.INDEX_NAVBAR_ITEM) }}</li>
        {% endif %}
        <li>{{ header_link("index", "Notes") }}</li>
        {% if articles_count %}
            <li>{{ header_link("articles", "Articles") }}</li>
        {% endif %}
        {% if not HIDES_FOLLOWERS or is_admin %}
        <li>{{ header_link("followers", "Followers") }} <span class="counter">{{ followers_count }}</span></li>
        {% endif %}
        {% if not HIDES_FOLLOWING or is_admin %}
        <li>{{ header_link("following", "Following") }} <span class="counter">{{ following_count }}</span></li>
        {% endif %}
        <li>{{ header_link("get_remote_follow", "Remote follow") }}</li>
        {% for navbar_item in NAVBAR_ITEMS.EXTRA_NAVBAR_ITEMS %}
            {{ navbar_item_link(navbar_item) }}
        {% endfor %}
    </ul>
</nav>
</div>


</header>
