{%- import "utils.html" as utils with context -%}
{% extends "layout.html" %}

{% block head %}
<title>{{ local_actor.display_name }}'s microblog</title>
<link rel="indieauth-metadata" href="{{ url_for("well_known_authorization_server") }}">
<link rel="authorization_endpoint" href="{{ url_for("indieauth_authorization_endpoint") }}">
<link rel="token_endpoint" href="{{ url_for("indieauth_token_endpoint") }}">
<link rel="micropub" href="{{ url_for("micropub_endpoint") }}">
<link rel="alternate" href="{{ local_actor.url }}" title="ActivityPub profile"  type="application/activity+json">
<meta content="profile" property="og:type" />
<meta content="{{ local_actor.url }}" property="og:url" />
<meta content="{{ local_actor.display_name }}'s microblog" property="og:site_name" />
<meta content="Homepage" property="og:title" />
<meta content="{{ local_actor.summary | html2text | trim }}" property="og:description" />
<meta content="{{ ICON_URL }}" property="og:image" />
<meta content="summary" property="twitter:card" />
<meta content="{{ local_actor.handle }}" property="profile:username" />
{% endblock %}

{% block content %}
{% include "header.html" %}

{% if objects %}

    <div class="h-feed">
    <data class="p-name" value="{{ local_actor.display_name}}'s notes"></data>
    {% for outbox_object in objects %}
    {% if outbox_object.ap_type in ["Note", "Article", "Video", "Question"] %}
    {{ utils.display_object(outbox_object) }}
    {% elif outbox_object.ap_type == "Announce" %}
    <div class="h-entry" id="{{ outbox_object.permalink_id }}">
        <div class="shared-header"><strong><a class="p-author h-card" href="{{ local_actor.url }}">{{ utils.display_tiny_actor_icon(local_actor) }}  {{ local_actor.display_name | clean_html(local_actor) | safe }}</a></strong> shared <span title="{{ outbox_object.ap_published_at.isoformat() }}">{{ outbox_object.ap_published_at | timeago }}</span></div>
        <div class="h-cite u-repost-of">
            {{ utils.display_object(outbox_object.relates_to_anybox_object, is_h_entry=False) }}
        </div>
    </div>
    {% endif %}
    {% endfor %}
    </div>

    <div class="box">
        {% if has_previous_page %}
        <a href="{{ url_for("index") }}?page={{ current_page - 1 }}">Previous</a>
        {% endif %}

        {% if has_next_page %}
        <a href="{{ url_for("index") }}?page={{ current_page + 1 }}">Next</a>
        {% endif %}
    </div>

{% else %}
    <div class="empty-state">
        <p>Nothing to see here yet!</p>
    </div>
{% endif %}

{% endblock %}
