{%- import "utils.html" as utils with context -%}
{% extends "layout.html" %}

{% block head %}
<title>Remote follow {{ local_actor.display_name }}</title>
<meta name="robots" content="noindex, nofollow">
{% endblock %}

{% block content %}
{% include "header.html" %}

<div class="box">
<h2>Remotely follow {{ local_actor.display_name }}</h2>
<form class="form" action="{{ url_for("post_remote_follow") }}" method="POST">
    {{ utils.embed_csrf_token() }}
    <input type="text" name="profile" placeholder="you@instance.tld" autofocus>
    <input type="submit" value="follow">
</form>
</div>

{% endblock %}
